/* Nav Styles */
.btn-primary {
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px 20px;
    border-color: rgb(56, 56, 56);
    background-color: white;
}
.nav {
display: flex;
}
.container {
    background-image: url('../assets/Hero-bg.png');
    max-width: 100%;
    /* min-width: 1440px; */
    font-weight: 800px;
    /* background-repeat: no-repeat; */
    text-align: center;
    padding: 80px;
    display: block;
}
.headline {
    font-size: xxx-large;
.azeret-mono-<uniquifier> {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; 
}
}
.btn-secondary {
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px 20px;
    border-color: rgb(56, 56, 56);
    background-color: black;
}
/* Main Styles */
.body {
 background-color: rgba(13, 19, 33, 0.02);
 padding: 97px 80px;
 margin: 60px 60px;
 text-align: center;
}
.name {
    text-decoration: none;
    color: rgb(10, 49, 87);
    font-size: large;
}
.section-title {
    font-size: xx-large;
}

/* Row Styles */
.practice-row {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
}
.row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background: linear-gradient(to left, #f5f5f5, #ffffff);
}
.row:nth-child(2n) {
    flex-direction: row-reverse;
    background: linear-gradient(to right, #f5f5f5, #ffffff);
}
.text-content {
    flex: 1;
    padding: 20px;
    text-align: left;
}
.row:nth-child(2n) .text-content {
    text-align: right;
    
}
.image-content {
    flex: 1;
}
img {
    max-width: 100%;
    height: auto;
}
.learn-more {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #6cb3ff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
/* Inspiration Segment */
.inspiration {
    max-width: px;
    margin: 0 auto;
    padding: 32px;
    text-align: center;
}
.section h2 {
    margin-bottom: 10px;
}
.separator {
    width: .7cm;
    height: 2px;
    background-color: #222222;
    margin: 10px auto;
    
}
.video-container {
    border-radius: 15px;
    overflow: hidden; 
    border: 2px solid #ccc;
    padding: 20px 20px;
}
video {
    width: 800px;
    height: auto;
    display: block;
}
/* Target Styles*/
.target {
    text-align: center;
    padding-top: 100px;
}
.target-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.column {
    flex: 1;
    max-width: fit-content;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(245, 245, 245, 0.1);
    text-align: left; 
}
.column img {
    max-width: 100px; 
    height: auto;
    display: block; 
    margin-bottom: 10px; 
}
.column h3 {
    margin: 10px 0;
    font-size: 1.5em;
}
.column p {
    font-size: 1em;
    color: #555;
    margin-top: 0;
}
/* Column Color */
.html {
    background-color: #fff3ed;
}
.css {
    background-color: #ecf0ff;
}
.js {
    background-color: rgb(255, 253, 238)            ;
}
/* Support Styles */
.support   {
    background-image: url(/assets/handshake.jpg);
    /* max-width: max-content; */
    background-repeat: no-repeat;
    background-size: 1200px;
    padding: 50px 40px;
    color: white;
    text-align: center;
    border-radius: 10px;
    margin: 40px 40px;
    /* justify-content: space-around; */
    height: 100%;
    background-position: center;
    background-size: cover;
    opacity: ;
}
footer textarea {
    height: 50px;
    width:fit-content;
    border-radius: 5px;
    display: flex;
    margin: 24px;

}
.text-content {
    align-items: center;
}
footer input[type="text"]{
    height: 15px;
    border-radius: 5px;
    background-color: white;
    /* display: inline; */
    width: 50%;
    padding: 10px 20px;
    /* margin-bottom: 24px; */
    border-color:#e6e6e6;
    position: relative;
    /* display: flex; */
}
.text-content {
    align-items: center;
    justify-content: center;
    display: flex;
}
/* footer styles */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 40px;
}
.icons {
    gap: 30px;
}