/* Nav Styles */
.btn-primary {
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px 20px;
    border-color: rgb(56, 56, 56);
    background-color: white;
}
.nav {
display: flex;
}
.container {
    background-image: url('../assets/Hero-bg.png');
    width: 100%;
    min-width: 1440px;
    font-weight: 800px;
    background-repeat: no-repeat;
    text-align: center;
    padding: 80px;
    display: flex;
}
.headline {
    font-size: xx-large;
.azeret-mono-<uniquifier> {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; 
}
}
.btn-secondary {
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px 20px;
    border-color: rgb(56, 56, 56);
    background-color: black;
}
/* Main Styles */
.body {
 background-color: rgba(13, 19, 33, 0.02);
 padding: 97px 80px;
 margin: 50px 40px;
}